@charset 'utf-8';
@import 'mixin';
//————————————————————————————————————————————
// parts
//————————————————————————————————————————————
// txt_set
.txt_set01{
    letter-spacing: 1px;
    line-height: 1.5em;
}
.txt_set02{
    letter-spacing: 1px;
    line-height: 1.8em;
}
// title
.icon_title01,.icon_title02 {
    display: flex;
    align-items: center;
    margin: 0 0 40px 0;
    span{
        width: 20px;
        height: 20px;
        margin: 0 15px 0 0;
        padding: 40px;
        color: #fff;
        align-items: center;
        background: #008159;
        display: flex;
        justify-content: center;
        border-radius: 100%;
    }
}
.icon_title02 {
    span{
        margin: 0 0 0 0;
        padding: 30px;
    }
}
@include mq('max','lg'){
    .icon_title01 {
        margin: 0 0 25px 0;
        span{
            padding: 30px;
        }
    }
}
@include mq('max','md'){
    .icon_title01 {
        margin: 0 0 20px 0;
    }
}
// separator
.separator{
    width: 100%;
    height: 1px;
    background: #d2d2d2;
    margin: 0 auto;
    &.w200{
        height: 2px;
        background: #808080;
        width: 200px;
    }
}

//other
.green_box{
    padding:10px 20px;
    color: #fff;
    font-size: 22px;
    background: $c_green01;
    display: inline-block;
    @include mq('max','md'){
        font-size: 16px;
        padding:10px;
    }
}
.inner_shadow_bg{
    background:$c_green03;
}
.inner_shadow{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) inset;
    padding: 50px 20px;
    background: url(../img/common/bg_ptn01.png) #e5e5e5;
    background-repeat: repeat-x;
    background-position: center;
}
.sp{
    display: none;
}
.inline_pc{display: inline-block;}

@include mq('max','lg'){
    .pc{
        display: none;
    }
    .sp{
        display: block;
    }
}
@include mq('max','md'){
    .inline_pc{display: block;;}
}
// color
.c_white{
    color:#fff;
}
// button
.primary_button a{
    width: 100%;
    display:block;
    padding:8px 0;
    background: linear-gradient(to top, #580008, #910011);
    &:hover {
        background: linear-gradient(to top, #910011, #580008);
    }
}

.secondary_button a{
    display:inline-block;
    padding:15px 40px;
    color: #fff;
    background: linear-gradient(to top, #00583d, #009164);
    &:hover {
        background: linear-gradient(to top, #009164, #00583d);
    }
}
.auto{
    margin: auto;
}
.w350{
    max-width: 350px;
}
.w500{
    max-width: 500px;
}
.ta_c{text-align:center;}
.ta_l{text-align:left;}
.ta_r{text-align:right;}
@include mq('max','md'){
    .secondary_button a{
        width: 100%;
        padding:15px 20px;
        font-size: 15px;
    }
    .ta_c_sp{text-align:center;}
    .ta_l_sp{text-align:left;}
    .ta_r_sp{text-align:right;}
}

// parts
.flex {
    display: flex;
    &.wrap {
        flex-wrap: wrap;
    }
    &.nowrap {
        flex-wrap: nowrap;
    }
    &.jt_start {
        justify-content: flex-start;
    }
    &.jt_end {
        justify-content: flex-end;
    }
    &.jt_center {
        justify-content: center;
    }
    &.jt_around {
        justify-content: space-around;
    }
    &.jt_between {
        justify-content: space-between;
    }
    &.ag_middle {
        align-items: center;
    }
    &.ag_bottom {
        align-items: flex-end;
    }
    &.ag_stretch {
        align-items: stretch;
    }
    &.ag_baseline {
        align-items: baseline;
    }
    &.ag_start{
        align-items: flex-start;
    }
}

.font10 {
    font-size: 10px
}
.font11 {
    font-size: 11px
}
.font12 {
    font-size: 12px
}
.font13 {
    font-size: 13px
}
.font14 {
    font-size: 14px
}
.font15 {
    font-size: 15px
}
.font16 {
    font-size: 16px
}
.font17 {
    font-size: 17px
}
.font18 {
    font-size: 18px
}
.font19 {
    font-size: 19px
}
.font20 {
    font-size: 20px
}
.font21 {
    font-size: 21px
}
.font22 {
    font-size: 22px
}
.font23 {
    font-size: 23px
}
.font24 {
    font-size: 24px
}
.font25 {
    font-size: 25px
}
.font26 {
    font-size: 26px
}
.font27 {
    font-size: 27px
}
.font28 {
    font-size: 28px
}
.font29 {
    font-size: 29px
}
.font30 {
    font-size: 30px
}
.font31 {
    font-size: 31px
}
.font32 {
    font-size: 32px
}
.font33 {
    font-size: 33px
}
.font34 {
    font-size: 34px
}
.font35 {
    font-size: 35px
}
.font36 {
    font-size: 36px
}
.font37 {
    font-size: 37px
}
.font38 {
    font-size: 38px
}
.font39 {
    font-size: 39px
}
.font40 {
    font-size: 40px
}
.font41 {
    font-size: 41px
}
.font42 {
    font-size: 42px
}
.font43 {
    font-size: 43px
}
.font44 {
    font-size: 44px
}
.font45 {
    font-size: 45px
}
.font46 {
    font-size: 46px
}
.font47 {
    font-size: 47px
}
.font48 {
    font-size: 48px
}
.font49 {
    font-size: 49px
}
.font50 {
    font-size: 50px
}
.font51 {
    font-size: 51px
}
.font52 {
    font-size: 52px
}
.font53 {
    font-size: 53px
}
.font54 {
    font-size: 54px
}
.font55 {
    font-size: 55px
}
.font56 {
    font-size: 56px
}
.font57 {
    font-size: 57px
}
.font58 {
    font-size: 58px
}
.font59 {
    font-size: 59px
}
.font60 {
    font-size: 60px
}
.font90{
    font-size: 90px;
}
@media (max-width:1200px){
    .font14,
    .font15 {
        font-size: 13px
    }
    .font16,
    .font17 {
        font-size: 14px
    }
    .font18,
    .font19,
    .font20 {
        font-size: 16px
    }
    .font21,
    .font22,
    .font23,
    .font24 {
        font-size: 20px
    }
    .font25,
    .font26,
    .font27,
    .font28,
    .font29,
    .font30 {
        font-size: 22px
    }
    .font31,
    .font32,
    .font33,
    .font34,
    .font35 {
        font-size: 24px
    }
    .font36,
    .font37,
    .font38,
    .font39,
    .font40 {
        font-size: 26px
    }
    .font41,
    .font42,
    .font43,
    .font44,
    .font45 {
        font-size: 28px
    }
    .font46,
    .font47,
    .font48,
    .font49,
    .font50 {
        font-size: 30px
    }
    .font51,
    .font52,
    .font53,
    .font54,
    .font55 {
        font-size: 32px
    }
    .font56,
    .font57,
    .font58,
    .font59,
    .font60 {
        font-size: 34px
    }
    .font90{
        font-size: 55px;
    }
}
@include mq('max','md') {
    .font14,
    .font15 {
        font-size: 11px
    }
    .font16,
    .font17 {
        font-size: 13px
    }
    .font18,
    .font19,
    .font20 {
        font-size: 14px
    }
    .font21,
    .font22,
    .font23,
    .font24 {
        font-size: 18px
    }
    .font25,
    .font26,
    .font27,
    .font28,
    .font29,
    .font30 {
        font-size: 20px
    }
    .font31,
    .font32,
    .font33,
    .font34,
    .font35 {
        font-size: 22px
    }
    .font36,
    .font37,
    .font38,
    .font39,
    .font40 {
        font-size: 24px
    }
    .font41,
    .font42,
    .font43,
    .font44,
    .font45 {
        font-size: 26px
    }
    .font46,
    .font47,
    .font48,
    .font49,
    .font50 {
        font-size: 28px
    }
    .font51,
    .font52,
    .font53,
    .font54,
    .font55 {
        font-size: 30px
    }
    .font56,
    .font57,
    .font58,
    .font59,
    .font60 {
        font-size: 32px
    }
    .font90,.font40_sp{
        font-size: 40px;
    }
}
@include mq('max','md') {
    .font10_sp {
        font-size: 10px
    }
    .font11_sp {
        font-size: 11px
    }
    .font12_sp {
        font-size: 12px
    }
    .font13_sp {
        font-size: 13px
    }
    .font14_sp {
        font-size: 14px
    }
    .font15_sp {
        font-size: 15px
    }
    .font16_sp {
        font-size: 16px
    }
    .font17_sp {
        font-size: 17px
    }
    .font18_sp {
        font-size: 18px
    }
    .font19_sp {
        font-size: 19px
    }
    .font20_sp {
        font-size: 20px
    }
    .font21_sp {
        font-size: 21px
    }
    .font22_sp {
        font-size: 22px
    }
    .font23_sp {
        font-size: 23px
    }
    .font24_sp {
        font-size: 24px
    }
    .font25_sp {
        font-size: 25px
    }
    .font26_sp {
        font-size: 26px
    }
    .font27_sp {
        font-size: 27px
    }
    .font28_sp {
        font-size: 28px
    }
    .font29_sp {
        font-size: 29px
    }
    .font30_sp {
        font-size: 30px
    }
    .font31_sp {
        font-size: 31px
    }
    .font32_sp {
        font-size: 32px
    }
    .font33_sp {
        font-size: 33px
    }
    .font34_sp {
        font-size: 34px
    }
    .font35_sp {
        font-size: 35px
    }
    .font36_sp {
        font-size: 36px
    }
    .font37_sp {
        font-size: 37px
    }
    .font38_sp {
        font-size: 38px
    }
    .font39_sp {
        font-size: 39px
    }
    .font40_sp {
        font-size: 40px
    }
    .font41_sp {
        font-size: 41px
    }
    .font42_sp {
        font-size: 42px
    }
    .font43_sp {
        font-size: 43px
    }
    .font44_sp {
        font-size: 44px
    }
    .font45_sp {
        font-size: 45px
    }
    .font46_sp {
        font-size: 46px
    }
    .font47_sp {
        font-size: 47px
    }
    .font48_sp {
        font-size: 48px
    }
    .font49_sp {
        font-size: 49px
    }
    .font50_sp {
        font-size: 50px
    }
    .font51_sp {
        font-size: 51px
    }
    .font52_sp {
        font-size: 52px
    }
    .font53_sp {
        font-size: 53px
    }
    .font54_sp {
        font-size: 54px
    }
    .font55_sp {
        font-size: 55px
    }
    .font56_sp {
        font-size: 56px
    }
    .font57_sp {
        font-size: 57px
    }
    .font58_sp {
        font-size: 58px
    }
    .font59_sp {
        font-size: 59px
    }
    .font60_sp {
        font-size: 60px
    }
    .font90_sp{
        font-size: 90px;
    }
}

.mr5 {
    margin-right: 5px
}
.mr10 {
    margin-right: 10px
}
.mr15 {
    margin-right: 15px
}
.mr20 {
    margin-right: 20px
}
.mr25 {
    margin-right: 25px
}
.mr30 {
    margin-right: 30px
}
.mr35 {
    margin-right: 35px
}
.mr40 {
    margin-right: 40px
}
.mr45 {
    margin-right: 45px
}
.mr50 {
    margin-right: 50px
}
.mr55 {
    margin-right: 55px
}
.mr60 {
    margin-right: 60px
}
.mr65 {
    margin-right: 65px
}
.mr70 {
    margin-right: 70px
}
.mr75 {
    margin-right: 75px
}
.mr80 {
    margin-right: 80px
}
.mr85 {
    margin-right: 85px
}
.mr90 {
    margin-right: 90px
}
.mr95 {
    margin-right: 95px
}
.mr100 {
    margin-right: 100px
}
.ml5 {
    margin-left: 5px
}
.ml10 {
    margin-left: 10px
}
.ml15 {
    margin-left: 15px
}
.ml20 {
    margin-left: 20px
}
.ml25 {
    margin-left: 25px
}
.ml30 {
    margin-left: 30px
}
.ml35 {
    margin-left: 35px
}
.ml40 {
    margin-left: 40px
}
.ml45 {
    margin-left: 45px
}
.ml50 {
    margin-left: 50px
}
.ml55 {
    margin-left: 55px
}
.ml60 {
    margin-left: 60px
}
.ml65 {
    margin-left: 65px
}
.ml70 {
    margin-left: 70px
}
.ml75 {
    margin-left: 75px
}
.ml80 {
    margin-left: 80px
}
.ml85 {
    margin-left: 85px
}
.ml90 {
    margin-left: 90px
}
.ml95 {
    margin-left: 95px
}
.ml100 {
    margin-left: 100px
}
.mt5 {
    margin-top: 5px
}
.mt10 {
    margin-top: 10px
}
.mt15 {
    margin-top: 15px
}
.mt20 {
    margin-top: 20px
}
.mt25 {
    margin-top: 25px
}
.mt30 {
    margin-top: 30px
}
.mt35 {
    margin-top: 35px
}
.mt40 {
    margin-top: 40px
}
.mt45 {
    margin-top: 45px
}
.mt50 {
    margin-top: 50px
}
.mt55 {
    margin-top: 55px
}
.mt60 {
    margin-top: 60px
}
.mt65 {
    margin-top: 65px
}
.mt70 {
    margin-top: 70px
}
.mt75 {
    margin-top: 75px
}
.mt80 {
    margin-top: 80px
}
.mt85 {
    margin-top: 85px
}
.mt90 {
    margin-top: 90px
}
.mt95 {
    margin-top: 95px
}
.mt100 {
    margin-top: 100px
}
.mb5 {
    margin-bottom: 5px
}
.mb10 {
    margin-bottom: 10px
}
.mb15 {
    margin-bottom: 15px
}
.mb20 {
    margin-bottom: 20px
}
.mb25 {
    margin-bottom: 25px
}
.mb30 {
    margin-bottom: 30px
}
.mb35 {
    margin-bottom: 35px
}
.mb40 {
    margin-bottom: 40px
}
.mb45 {
    margin-bottom: 45px
}
.mb50 {
    margin-bottom: 50px
}
.mb55 {
    margin-bottom: 55px
}
.mb60 {
    margin-bottom: 60px
}
.mb65 {
    margin-bottom: 65px
}
.mb70 {
    margin-bottom: 70px
}
.mb75 {
    margin-bottom: 75px
}
.mb80 {
    margin-bottom: 80px
}
.mb85 {
    margin-bottom: 85px
}
.mb90 {
    margin-bottom: 90px
}
.mb95 {
    margin-bottom: 95px
}
.mb100 {
    margin-bottom: 100px
}
@include mq('max','lg') {
    .mt15,
    .mt20 {
        margin-top: 10px
    }
    .ml15,
    .ml20 {
        margin-left: 10px
    }
    .mr15,
    .mr20 {
        margin-right: 10px
    }
    .mb15,
    .mb20 {
        margin-bottom: 10px
    }
    .mt25,
    .mt30 {
        margin-top: 20px
    }
    .ml25,
    .ml30 {
        margin-left: 20px
    }
    .mr25,
    .mr30 {
        margin-right: 20px
    }
    .mb25,
    .mb30 {
        margin-bottom: 20px
    }
    .mt35,
    .mt40 {
        margin-top: 25px
    }
    .ml35,
    .ml40 {
        margin-left: 25px
    }
    .mr35,
    .mr40 {
        margin-right: 25px
    }
    .mb35,
    .mb40 {
        margin-bottom: 25px
    }
    .mt45,
    .mt50 {
        margin-top: 30px
    }
    .ml45,
    .ml50 {
        margin-left: 30px
    }
    .mr45,
    .mr50 {
        margin-right: 30px
    }
    .mb45,
    .mb50 {
        margin-bottom: 30px
    }
    .mt55,
    .mt60,
    .mt65,
    .mt70 {
        margin-top: 40px
    }
    .ml55,
    .ml60,
    .ml65,
    .ml70 {
        margin-left: 40px
    }
    .mr55,
    .mr60,
    .mr65,
    .mr70 {
        margin-right: 40px
    }
    .mb55,
    .mb60,
    .mb65,
    .mb70 {
        margin-bottom: 40px
    }
    .mt75,
    .mt80,
    .mt95,
    .mt100 {
        margin-top: 50px
    }
    .ml75,
    .ml80,
    .ml95,
    .ml100 {
        margin-left: 50px
    }
    .mr75,
    .mr80,
    .mr95,
    .mr100 {
        margin-right: 50px
    }
    .mb75,
    .mb80,
    .mb95,
    .mb100 {
        margin-bottom: 50px
    }
    .mb10_sp{margin-bottom:10px}
    .mb20_sp{margin-bottom:20px}
    .mb30_sp{margin-bottom:30px}
    .mt10_sp{margin-top:10px}
    .mt20_sp{margin-top:20px}
    .mt30_sp{margin-top:30px}
    .mt40_sp{margin-top:40px}
    .mr10_sp{margin-right:10px}
    .mr20_sp{margin-right:20px}
    .mr30_sp{margin-right:30px}
    .ml10_sp{margin-left:10px}
    .ml20_sp{margin-left:20px}
    .ml30_sp{margin-left:30px}

}
.w1 {
    width: 1%
}
.w2 {
    width: 2%
}
.w3 {
    width: 3%
}
.w4 {
    width: 4%
}
.w5 {
    width: 5%
}
.w6 {
    width: 6%
}
.w7 {
    width: 7%
}
.w8 {
    width: 8%
}
.w9 {
    width: 9%
}
.w10 {
    width: 10%
}
.w12 {
    width: 12%
}
.w13 {
    width: 13%
}
.w14 {
    width: 14%
}
.w15 {
    width: 15%
}
.w16 {
    width: 16%
}
.w17 {
    width: 17%
}
.w18 {
    width: 18%
}
.w19 {
    width: 19%
}
.w20 {
    width: 20%
}
.w22 {
    width: 22%
}
.w23 {
    width: 23%
}
.w24 {
    width: 24%
}
.w25 {
    width: 25%
}
.w26 {
    width: 26%
}
.w27 {
    width: 27%
}
.w28 {
    width: 28%
}
.w29 {
    width: 29%
}
.w30 {
    width: 30%
}
.w32 {
    width: 32%
}
.w33 {
    width: 33%
}
.w34 {
    width: 34%
}
.w35 {
    width: 35%
}
.w36 {
    width: 36%
}
.w37 {
    width: 37%
}
.w38 {
    width: 38%
}
.w39 {
    width: 39%
}
.w40 {
    width: 40%
}
.w42 {
    width: 42%
}
.w43 {
    width: 43%
}
.w44 {
    width: 44%
}
.w45 {
    width: 45%
}
.w46 {
    width: 46%
}
.w47 {
    width: 47%
}
.w48 {
    width: 48%
}
.w49 {
    width: 49%
}
.w50 {
    width: 50%
}
.w52 {
    width: 52%
}
.w53 {
    width: 53%
}
.w54 {
    width: 54%
}
.w55 {
    width: 55%
}
.w56 {
    width: 56%
}
.w57 {
    width: 57%
}
.w58 {
    width: 58%
}
.w59 {
    width: 59%
}
.w60 {
    width: 60%
}
.w62 {
    width: 62%
}
.w63 {
    width: 63%
}
.w64 {
    width: 64%
}
.w65 {
    width: 65%
}
.w66 {
    width: 66%
}
.w67 {
    width: 67%
}
.w68 {
    width: 68%
}
.w69 {
    width: 69%
}
.w70 {
    width: 70%
}
.w72 {
    width: 72%
}
.w73 {
    width: 73%
}
.w74 {
    width: 74%
}
.w75 {
    width: 75%
}
.w76 {
    width: 76%
}
.w77 {
    width: 77%
}
.w78 {
    width: 78%
}
.w79 {
    width: 79%
}
.w80 {
    width: 80%
}
.w82 {
    width: 82%
}
.w83 {
    width: 83%
}
.w84 {
    width: 84%
}
.w85 {
    width: 85%
}
.w86 {
    width: 86%
}
.w87 {
    width: 87%
}
.w88 {
    width: 88%
}
.w89 {
    width: 89%
}
.w90 {
    width: 90%
}
.w92 {
    width: 92%
}
.w93 {
    width: 93%
}
.w94 {
    width: 94%
}
.w95 {
    width: 95%
}
.w96 {
    width: 96%
}
.w97 {
    width: 97%
}
.w98 {
    width: 98%
}
.w99 {
    width: 99%
}
.w100 {
    width: 100%
}
@include mq('max','md') {
    .w1_tab {
        width: 1%
    }
    .w2_tab {
        width: 2%
    }
    .w3_tab {
        width: 3%
    }
    .w4_tab {
        width: 4%
    }
    .w5_tab {
        width: 5%
    }
    .w6_tab {
        width: 6%
    }
    .w7_tab {
        width: 7%
    }
    .w8_tab {
        width: 8%
    }
    .w9_tab {
        width: 9%
    }
    .w10_tab {
        width: 10%
    }
    .w12_tab {
        width: 12%
    }
    .w13_tab {
        width: 13%
    }
    .w14_tab {
        width: 14%
    }
    .w15_tab {
        width: 15%
    }
    .w16_tab {
        width: 16%
    }
    .w17_tab {
        width: 17%
    }
    .w18_tab {
        width: 18%
    }
    .w19_tab {
        width: 19%
    }
    .w20_tab {
        width: 20%
    }
    .w22_tab {
        width: 22%
    }
    .w23_tab {
        width: 23%
    }
    .w24_tab {
        width: 24%
    }
    .w25_tab {
        width: 25%
    }
    .w26_tab {
        width: 26%
    }
    .w27_tab {
        width: 27%
    }
    .w28_tab {
        width: 28%
    }
    .w29_tab {
        width: 29%
    }
    .w30_tab {
        width: 30%
    }
    .w32_tab {
        width: 32%
    }
    .w33_tab {
        width: 33%
    }
    .w34_tab {
        width: 34%
    }
    .w35_tab {
        width: 35%
    }
    .w36_tab {
        width: 36%
    }
    .w37_tab {
        width: 37%
    }
    .w38_tab {
        width: 38%
    }
    .w39_tab {
        width: 39%
    }
    .w40_tab {
        width: 40%
    }
    .w42_tab {
        width: 42%
    }
    .w43_tab {
        width: 43%
    }
    .w44_tab {
        width: 44%
    }
    .w45_tab {
        width: 45%
    }
    .w46_tab {
        width: 46%
    }
    .w47_tab {
        width: 47%
    }
    .w48_tab {
        width: 48%
    }
    .w49_tab {
        width: 49%
    }
    .w50_tab {
        width: 50%
    }
    .w52_tab {
        width: 52%
    }
    .w53_tab {
        width: 53%
    }
    .w54_tab {
        width: 54%
    }
    .w55_tab {
        width: 55%
    }
    .w56_tab {
        width: 56%
    }
    .w57_tab {
        width: 57%
    }
    .w58_tab {
        width: 58%
    }
    .w59_tab {
        width: 59%
    }
    .w60_tab {
        width: 60%
    }
    .w62_tab {
        width: 62%
    }
    .w63_tab {
        width: 63%
    }
    .w64_tab {
        width: 64%
    }
    .w65_tab {
        width: 65%
    }
    .w66_tab {
        width: 66%
    }
    .w67_tab {
        width: 67%
    }
    .w68_tab {
        width: 68%
    }
    .w69_tab {
        width: 69%
    }
    .w70_tab {
        width: 70%
    }
    .w72_tab {
        width: 72%
    }
    .w73_tab {
        width: 73%
    }
    .w74_tab {
        width: 74%
    }
    .w75_tab {
        width: 75%
    }
    .w76_tab {
        width: 76%
    }
    .w77_tab {
        width: 77%
    }
    .w78_tab {
        width: 78%
    }
    .w79_tab {
        width: 79%
    }
    .w80_tab {
        width: 80%
    }
    .w82_tab {
        width: 82%
    }
    .w83_tab {
        width: 83%
    }
    .w84_tab {
        width: 84%
    }
    .w85_tab {
        width: 85%
    }
    .w86_tab {
        width: 86%
    }
    .w87_tab {
        width: 87%
    }
    .w88_tab {
        width: 88%
    }
    .w89_tab {
        width: 89%
    }
    .w90_tab {
        width: 90%
    }
    .w92_tab {
        width: 92%
    }
    .w93_tab {
        width: 93%
    }
    .w94_tab {
        width: 94%
    }
    .w95_tab {
        width: 95%
    }
    .w96_tab {
        width: 96%
    }
    .w97_tab {
        width: 97%
    }
    .w98_tab {
        width: 98%
    }
    .w99_tab {
        width: 99%
    }
    .w100_tab {
        width: 100%
    }
}
@include mq('max','md') {
    .w1_sp {
        width: 1%
    }
    .w2_sp {
        width: 2%
    }
    .w3_sp {
        width: 3%
    }
    .w4_sp {
        width: 4%
    }
    .w5_sp {
        width: 5%
    }
    .w6_sp {
        width: 6%
    }
    .w7_sp {
        width: 7%
    }
    .w8_sp {
        width: 8%
    }
    .w9_sp {
        width: 9%
    }
    .w10_sp {
        width: 10%
    }
    .w12_sp {
        width: 12%
    }
    .w13_sp {
        width: 13%
    }
    .w14_sp {
        width: 14%
    }
    .w15_sp {
        width: 15%
    }
    .w16_sp {
        width: 16%
    }
    .w17_sp {
        width: 17%
    }
    .w18_sp {
        width: 18%
    }
    .w19_sp {
        width: 19%
    }
    .w20_sp {
        width: 20%
    }
    .w22_sp {
        width: 22%
    }
    .w23_sp {
        width: 23%
    }
    .w24_sp {
        width: 24%
    }
    .w25_sp {
        width: 25%
    }
    .w26_sp {
        width: 26%
    }
    .w27_sp {
        width: 27%
    }
    .w28_sp {
        width: 28%
    }
    .w29_sp {
        width: 29%
    }
    .w30_sp {
        width: 30%
    }
    .w32_sp {
        width: 32%
    }
    .w33_sp {
        width: 33%
    }
    .w34_sp {
        width: 34%
    }
    .w35_sp {
        width: 35%
    }
    .w36_sp {
        width: 36%
    }
    .w37_sp {
        width: 37%
    }
    .w38_sp {
        width: 38%
    }
    .w39_sp {
        width: 39%
    }
    .w40_sp {
        width: 40%
    }
    .w42_sp {
        width: 42%
    }
    .w43_sp {
        width: 43%
    }
    .w44_sp {
        width: 44%
    }
    .w45_sp {
        width: 45%
    }
    .w46_sp {
        width: 46%
    }
    .w47_sp {
        width: 47%
    }
    .w48_sp {
        width: 48%
    }
    .w49_sp {
        width: 49%
    }
    .w50_sp {
        width: 50%
    }
    .w52_sp {
        width: 52%
    }
    .w53_sp {
        width: 53%
    }
    .w54_sp {
        width: 54%
    }
    .w55_sp {
        width: 55%
    }
    .w56_sp {
        width: 56%
    }
    .w57_sp {
        width: 57%
    }
    .w58_sp {
        width: 58%
    }
    .w59_sp {
        width: 59%
    }
    .w60_sp {
        width: 60%
    }
    .w62_sp {
        width: 62%
    }
    .w63_sp {
        width: 63%
    }
    .w64_sp {
        width: 64%
    }
    .w65_sp {
        width: 65%
    }
    .w66_sp {
        width: 66%
    }
    .w67_sp {
        width: 67%
    }
    .w68_sp {
        width: 68%
    }
    .w69_sp {
        width: 69%
    }
    .w70_sp {
        width: 70%
    }
    .w72_sp {
        width: 72%
    }
    .w73_sp {
        width: 73%
    }
    .w74_sp {
        width: 74%
    }
    .w75_sp {
        width: 75%
    }
    .w76_sp {
        width: 76%
    }
    .w77_sp {
        width: 77%
    }
    .w78_sp {
        width: 78%
    }
    .w79_sp {
        width: 79%
    }
    .w80_sp {
        width: 80%
    }
    .w82_sp {
        width: 82%
    }
    .w83_sp {
        width: 83%
    }
    .w84_sp {
        width: 84%
    }
    .w85_sp {
        width: 85%
    }
    .w86_sp {
        width: 86%
    }
    .w87_sp {
        width: 87%
    }
    .w88_sp {
        width: 88%
    }
    .w89_sp {
        width: 89%
    }
    .w90_sp {
        width: 90%
    }
    .w92_sp {
        width: 92%
    }
    .w93_sp {
        width: 93%
    }
    .w94_sp {
        width: 94%
    }
    .w95_sp {
        width: 95%
    }
    .w96_sp {
        width: 96%
    }
    .w97_sp {
        width: 97%
    }
    .w98_sp {
        width: 98%
    }
    .w99_sp {
        width: 99%
    }
    .w100_sp {
        width: 100%
    }
}
.pt10 {
    padding-top: 10px
}
.pt15 {
    padding-top: 15px
}
.pt20 {
    padding-top: 20px
}
.pt25 {
    padding-top: 25px
}
.pt30 {
    padding-top: 30px
}
.pt35 {
    padding-top: 35px
}
.pt40 {
    padding-top: 40px
}
.pt45 {
    padding-top: 45px
}
.pt50 {
    padding-top: 50px
}
.pt55 {
    padding-top: 55px
}
.pt60 {
    padding-top: 60px
}
.pt65 {
    padding-top: 65px
}
.pt70 {
    padding-top: 70px
}
.pt75 {
    padding-top: 75px
}
.pt80 {
    padding-top: 80px
}
.pt85 {
    padding-top: 85px
}
.pt90 {
    padding-top: 90px
}
.pt95 {
    padding-top: 95px
}
.pt100 {
    padding-top: 100px
}
.pt150 {
    padding-top: 150px
}
.pt200 {
    padding-top: 200px
}
.pl10 {
    padding-left: 10px
}
.pl15 {
    padding-left: 15px
}
.pl20 {
    padding-left: 20px
}
.pl25 {
    padding-left: 25px
}
.pl30 {
    padding-left: 30px
}
.pl35 {
    padding-left: 35px
}
.pl40 {
    padding-left: 40px
}
.pl45 {
    padding-left: 45px
}
.pl50 {
    padding-left: 50px
}
.pl55 {
    padding-left: 55px
}
.pl60 {
    padding-left: 60px
}
.pl65 {
    padding-left: 65px
}
.pl70 {
    padding-left: 70px
}
.pl75 {
    padding-left: 75px
}
.pl80 {
    padding-left: 80px
}
.pl85 {
    padding-left: 85px
}
.pl90 {
    padding-left: 90px
}
.pl95 {
    padding-left: 95px
}
.pl100 {
    padding-left: 100px
}
.pl150 {
    padding-left: 150px
}
.pl200 {
    padding-left: 200px
}
.pb10 {
    padding-bottom: 10px
}
.pb15 {
    padding-bottom: 15px
}
.pb20 {
    padding-bottom: 20px
}
.pb25 {
    padding-bottom: 25px
}
.pb30 {
    padding-bottom: 30px
}
.pb35 {
    padding-bottom: 35px
}
.pb40 {
    padding-bottom: 40px
}
.pb45 {
    padding-bottom: 45px
}
.pb50 {
    padding-bottom: 50px
}
.pb55 {
    padding-bottom: 55px
}
.pb60 {
    padding-bottom: 60px
}
.pb65 {
    padding-bottom: 65px
}
.pb70 {
    padding-bottom: 70px
}
.pb75 {
    padding-bottom: 75px
}
.pb80 {
    padding-bottom: 80px
}
.pb85 {
    padding-bottom: 85px
}
.pb90 {
    padding-bottom: 90px
}
.pb95 {
    padding-bottom: 95px
}
.pb100 {
    padding-bottom: 100px
}
.pb150 {
    padding-bottom: 150px
}
.pb200 {
    padding-bottom: 200px
}
.pr5 {
    padding-right: 5px
}
.pr10 {
    padding-right: 10px
}
.pr15 {
    padding-right: 15px
}
.pr20 {
    padding-right: 20px
}
.pr25 {
    padding-right: 25px
}
.pr30 {
    padding-right: 30px
}
.pr35 {
    padding-right: 35px
}
.pr40 {
    padding-right: 40px
}
.pr45 {
    padding-right: 45px
}
.pr50 {
    padding-right: 50px
}
.pr55 {
    padding-right: 55px
}
.pr60 {
    padding-right: 60px
}
.pr65 {
    padding-right: 65px
}
.pr70 {
    padding-right: 70px
}
.pr75 {
    padding-right: 75px
}
.pr80 {
    padding-right: 80px
}
.pr85 {
    padding-right: 85px
}
.pr90 {
    padding-right: 90px
}
.pr95 {
    padding-right: 95px
}
.pr100 {
    padding-right: 100px
}
.pr150 {
    padding-right: 150px
}
.pr200 {
    padding-right: 200px
}
@include mq('max','lg'){
    .pt10 {
        padding-top: 10px
    }
    .pt15 {
        padding-top: 10px
    }
    .pt20 {
        padding-top: 15px
    }
    .pt25 {
        padding-top: 20px
    }
    .pt30,
    .pt35 {
        padding-top: 30px
    }
    .pt40,
    .pt45 {
        padding-top: 35px
    }
    .pt50,
    .pt55 {
        padding-top: 45px
    }
    .pt60,
    .pt65 {
        padding-top: 55px
    }
    .pt70,
    .pt75 {
        padding-top: 65px
    }
    .pt80,
    .pt85 {
        padding-top: 75px
    }
    .pt90,
    .pt95 {
        padding-top: 85px
    }
    .pt100 {
        padding-top: 90px
    }
    .pt150 {
        padding-top: 100px
    }
    .pt200 {
        padding-top: 120px
    }
    .pr10 {
        padding-right: 10px
    }
    .pr15 {
        padding-right: 10px
    }
    .pr20 {
        padding-right: 15px
    }
    .pr25 {
        padding-right: 20px
    }
    .pr30,
    .pr35 {
        padding-right: 30px
    }
    .pr40,
    .pr45 {
        padding-right: 35px
    }
    .pr50,
    .pr55 {
        padding-right: 45px
    }
    .pr60,
    .pr65 {
        padding-right: 55px
    }
    .pr70,
    .pr75 {
        padding-right: 65px
    }
    .pr80,
    .pr85 {
        padding-right: 75px
    }
    .pr90,
    .pr95 {
        padding-right: 85px
    }
    .pr100 {
        padding-right: 90px
    }
    .pr150 {
        padding-right: 100px
    }
    .pr200 {
        padding-right: 120px
    }
    .pb10 {
        padding-bottom: 10px
    }
    .pb15 {
        padding-bottom: 10px
    }
    .pb20 {
        padding-bottom: 15px
    }
    .pb25 {
        padding-bottom: 20px
    }
    .pb30,
    .pb35 {
        padding-bottom: 30px
    }
    .pb40,
    .pb45 {
        padding-bottom: 35px
    }
    .pb50,
    .pb55 {
        padding-bottom: 45px
    }
    .pb60,
    .pb65 {
        padding-bottom: 55px
    }
    .pb70,
    .pb75 {
        padding-bottom: 65px
    }
    .pb80,
    .pb85 {
        padding-bottom: 75px
    }
    .pb90,
    .pb95 {
        padding-bottom: 85px
    }
    .pb100 {
        padding-bottom: 90px
    }
    .pb150 {
        padding-bottom: 100px
    }
    .pb200 {
        padding-bottom: 120px
    }
    .pl10 {
        padding-left: 10px
    }
    .pl15 {
        padding-left: 10px
    }
    .pl20 {
        padding-left: 15px
    }
    .pl25 {
        padding-left: 20px
    }
    .pl30,
    .pl35 {
        padding-left: 30px
    }
    .pl40,
    .pl45 {
        padding-left: 35px
    }
    .pl50,
    .pl55 {
        padding-left: 45px
    }
    .pl60,
    .pl65 {
        padding-left: 55px
    }
    .pl70,
    .pl75 {
        padding-left: 65px
    }
    .pl80,
    .pl85 {
        padding-left: 75px
    }
    .pl90,
    .pl95 {
        padding-left: 85px
    }
    .pl100 {
        padding-left: 90px
    }
    .pl150 {
        padding-left: 100px
    }
    .pl200 {
        padding-left: 120px
    }
}
@include mq('max','lg'){
    .pt30,
    .pt35 {
        padding-top: 20px
    }
    .pt40,
    .pt45 {
        padding-top: 25px
    }
    .pt50,
    .pt55 {
        padding-top: 35px
    }
    .pt60,
    .pt65 {
        padding-top: 45px
    }
    .pt70,
    .pt75 {
        padding-top: 55px
    }
    .pt80,
    .pt85 {
        padding-top: 65px
    }
    .pt90,
    .pt95 {
        padding-top: 75px
    }
    .pt100,
    .pt150,
    .pt200 {
        padding-top: 80px
    }
    .pr30,
    .pr35 {
        padding-right: 20px
    }
    .pr40,
    .pr45 {
        padding-right: 25px
    }
    .pr50,
    .pr55 {
        padding-right: 35px
    }
    .pr60,
    .pr65 {
        padding-right: 45px
    }
    .pr70,
    .pr75 {
        padding-right: 55px
    }
    .pr80,
    .pr85 {
        padding-right: 65px
    }
    .pr90,
    .pr95 {
        padding-right: 75px
    }
    .pr100,
    .pr150,
    .pr200 {
        padding-right: 80px
    }
    .pb30,
    .pb35 {
        padding-bottom: 20px
    }
    .pb40,
    .pb45 {
        padding-bottom: 25px
    }
    .pb50,
    .pb55 {
        padding-bottom: 35px
    }
    .pb60,
    .pb65 {
        padding-bottom: 45px
    }
    .pb70,
    .pb75 {
        padding-bottom: 55px
    }
    .pb80,
    .pb85 {
        padding-bottom: 65px
    }
    .pb90,
    .pb95 {
        padding-bottom: 75px
    }
    .pb100,
    .pb150,
    .pb200 {
        padding-bottom: 80px
    }
    .pl30,
    .pl35 {
        padding-left: 20px
    }
    .pl40,
    .pl45 {
        padding-left: 25px
    }
    .pl50,
    .pl55 {
        padding-left: 35px
    }
    .pl60,
    .pl65 {
        padding-left: 45px
    }
    .pl70,
    .pl75 {
        padding-left: 55px
    }
    .pl80,
    .pl85 {
        padding-left: 65px
    }
    .pl90,
    .pl95 {
        padding-left: 75px
    }
    .pl100,
    .pl150,
    .pl200 {
        padding-left: 80px
    }
}
@include mq('max','md'){
    .pt30,
    .pt35 {
        padding-top: 15px
    }
    .pt40,
    .pt45 {
        padding-top: 20px
    }
    .pt50,
    .pt55 {
        padding-top: 25px
    }
    .pt60,
    .pt65 {
        padding-top: 35px
    }
    .pt70,
    .pt75 {
        padding-top: 45px
    }
    .pt80,
    .pt85 {
        padding-top: 55px
    }
    .pt90,
    .pt95 {
        padding-top: 65px
    }
    .pt100,
    .pt150,
    .pt200 {
        padding-top: 45px
    }
    .pr30,
    .pr35 {
        padding-right: 15px
    }
    .pr40,
    .pr45 {
        padding-right: 20px
    }
    .pr50,
    .pr55 {
        padding-right: 25px
    }
    .pr60,
    .pr65 {
        padding-right: 35px
    }
    .pr70,
    .pr75 {
        padding-right: 45px
    }
    .pr80,
    .pr85 {
        padding-right: 55px
    }
    .pr90,
    .pr95 {
        padding-right: 65px
    }
    .pr100,
    .pr150,
    .pr200 {
        padding-right: 45px
    }
    .pb30,
    .pb35 {
        padding-bottom: 15px
    }
    .pb40,
    .pb45 {
        padding-bottom: 20px
    }
    .pb50,
    .pb55 {
        padding-bottom: 25px
    }
    .pb60,
    .pb65 {
        padding-bottom: 35px
    }
    .pb70,
    .pb75 {
        padding-bottom: 45px
    }
    .pb80,
    .pb85 {
        padding-bottom: 55px
    }
    .pb90,
    .pb95 {
        padding-bottom: 65px
    }
    .pb100,
    .pb150,
    .pb200 {
        padding-bottom: 45px
    }
    .pl30,
    .pl35 {
        padding-left: 10px
    }
    .pl40,
    .pl45 {
        padding-left: 20px
    }
    .pl50,
    .pl55 {
        padding-left: 25px
    }
    .pl60,
    .pl65 {
        padding-left: 35px
    }
    .pl70,
    .pl75 {
        padding-left: 45px
    }
    .pl80,
    .pl85 {
        padding-left: 55px
    }
    .pl90,
    .pl95 {
        padding-left: 65px
    }
    .pl100,
    .pl150,
    .pl200 {
        padding-left: 45px
    }
    .pt10_sp {
        padding-top: 10px
    }
    .pt15_sp {
        padding-top: 15px
    }
    .pt20_sp {
        padding-top: 20px
    }
    .pt25_sp {
        padding-top: 25px
    }
    .pt30_sp {
        padding-top: 30px
    }
    .pt35_sp {
        padding-top: 35px
    }
    .pt40_sp {
        padding-top: 40px
    }
    .pt45_sp {
        padding-top: 45px
    }
    .pt50_sp {
        padding-top: 50px
    }
    .pt55_sp {
        padding-top: 55px
    }
    .pt60_sp {
        padding-top: 60px
    }
    .pt65_sp {
        padding-top: 65px
    }
    .pt70_sp {
        padding-top: 70px
    }
    .pt75_sp {
        padding-top: 75px
    }
    .pt80_sp {
        padding-top: 80px
    }
    .pt85_sp {
        padding-top: 85px
    }
    .pt90_sp {
        padding-top: 90px
    }
    .pt95_sp {
        padding-top: 95px
    }
    .pt100_sp {
        padding-top: 100px
    }
    .pt150_sp {
        padding-top: 150px
    }
    .pt200_sp {
        padding-top: 200px
    }
    .pl10_sp {
        padding-left: 10px
    }
    .pl15_sp {
        padding-left: 15px
    }
    .pl20_sp {
        padding-left: 20px
    }
    .pl25_sp {
        padding-left: 25px
    }
    .pl30_sp {
        padding-left: 30px
    }
    .pl35_sp {
        padding-left: 35px
    }
    .pl40_sp {
        padding-left: 40px
    }
    .pl45_sp {
        padding-left: 45px
    }
    .pl50_sp {
        padding-left: 50px
    }
    .pl55_sp {
        padding-left: 55px
    }
    .pl60_sp {
        padding-left: 60px
    }
    .pl65_sp {
        padding-left: 65px
    }
    .pl70_sp {
        padding-left: 70px
    }
    .pl75_sp {
        padding-left: 75px
    }
    .pl80_sp {
        padding-left: 80px
    }
    .pl85_sp {
        padding-left: 85px
    }
    .pl90_sp {
        padding-left: 90px
    }
    .pl95_sp {
        padding-left: 95px
    }
    .pl100_sp {
        padding-left: 100px
    }
    .pl150_sp {
        padding-left: 150px
    }
    .pl200_sp {
        padding-left: 200px
    }
    .pb10_sp {
        padding-bottom: 10px
    }
    .pb15_sp {
        padding-bottom: 15px
    }
    .pb20_sp {
        padding-bottom: 20px
    }
    .pb25_sp {
        padding-bottom: 25px
    }
    .pb30_sp {
        padding-bottom: 30px
    }
    .pb35_sp {
        padding-bottom: 35px
    }
    .pb40_sp {
        padding-bottom: 40px
    }
    .pb45_sp {
        padding-bottom: 45px
    }
    .pb50_sp {
        padding-bottom: 50px
    }
    .pb55_sp {
        padding-bottom: 55px
    }
    .pb60_sp {
        padding-bottom: 60px
    }
    .pb65_sp {
        padding-bottom: 65px
    }
    .pb70_sp {
        padding-bottom: 70px
    }
    .pb75_sp {
        padding-bottom: 75px
    }
    .pb80_sp {
        padding-bottom: 80px
    }
    .pb85_sp {
        padding-bottom: 85px
    }
    .pb90_sp {
        padding-bottom: 90px
    }
    .pb95_sp {
        padding-bottom: 95px
    }
    .pb100_sp {
        padding-bottom: 100px
    }
    .pb150_sp {
        padding-bottom: 150px
    }
    .pb200_sp {
        padding-bottom: 200px
    }
    .pl10_sp {
        padding-left: 10px
    }
    .pl15_sp {
        padding-left: 15px
    }
    .pl20_sp {
        padding-left: 20px
    }
    .pl25_sp {
        padding-left: 25px
    }
    .pl30_sp {
        padding-left: 30px
    }
    .pl35_sp {
        padding-left: 35px
    }
    .pl40_sp {
        padding-left: 40px
    }
    .pl45_sp {
        padding-left: 45px
    }
    .pl50_sp {
        padding-left: 50px
    }
    .pl55_sp {
        padding-left: 55px
    }
    .pl60_sp {
        padding-left: 60px
    }
    .pl65_sp {
        padding-left: 65px
    }
    .pl70_sp {
        padding-left: 70px
    }
    .pl75_sp {
        padding-left: 75px
    }
    .pl80_sp {
        padding-left: 80px
    }
    .pl85_sp {
        padding-left: 85px
    }
    .pl90_sp {
        padding-left: 90px
    }
    .pl95_sp {
        padding-left: 95px
    }
    .pl100_sp {
        padding-left: 100px
    }
    .pl150_sp {
        padding-left: 150px
    }
    .pl200_sp {
        padding-left: 200px
    }
}
